<div class="container h1-container">
  <h1>Your place</h1>
</div>
<div data-controller="slider">
  <%= simple_form_for current_user, url: add_info_path, method: :patch do |f| %>
    <div class="container">
      <div class="temp-slider">
        <%= f.input :temperature, as: :range,
                input_html:{
                   data: { slider_target: "tempSlider", action: "input->slider#tempSliderMethod" },
                   min:"15", max:"30"},
                label_html: {data: { slider_target: "tempLabel"}, class: "temperature-slider"}%>
      </div>
      <div class="sun-slider">
        <%= f.input :sun_exposure, as: :range,
                input_html:{
                   data: { slider_target: "sunSlider", action: "input->slider#sunSliderMethod" },
                   min:"0", max:"10"},
                label_html: {data: { slider_target: "sunLabel"}, class: "sunshine-slider"}%>
      </div>
      </div>
      <div class="day-slider">
   <%= f.input :prefered_day, collection: [ "Monday", "Tueday", "Wednesday", "Thurday", "Friday", "Saturday", "Sunday" ] %>
      </div>
    </div>
    <a class="next-button" href="/dashboard">
      <%= f.submit :Finish, class: "btn btn-secondary standard-button" %>
    </a>
  <% end %>
</div>

<%#
<script>
// function updateTextInput(val) {
//           document.getElementById('user_temperature').value=val;
//         }
// </script>
// <script>
// function updateTextInput(val) {
//           document.getElementById('textInput2').value=val;
//         }

</script> %>
