<div class="add-info-container container h1-container">
  <h1>Your place</h1>
</div>

<div class="step-trackers">
  <div class="circular-step-tracker">
  </div>
  <div class="circular-step-tracker this-step">
  </div>
</div>
<div class="add-info-text">
 <div><p>Once again, leave the details to <strong>us</strong>. Please provide us with an estimate of the infomation below on your plants homes.</p></div>
</div>
 <div data-controller="slider">
  <%= simple_form_for current_user, url: add_info_path, method: :patch do |f| %>
    <div class="container info-sliders">
      <div class="temp-slider">
        <%= f.input :temperature, as: :range,
                input_html:{
                   data: { slider_target: "tempSlider", action: "input->slider#tempSliderMethod" },
                   min:"15", max:"30", value:"23", class: "temperature-slider"},
                label_html: {data: { slider_target: "tempLabel"}}%>
      </div>
      <div class="sun-slider">
        <%= f.input :sun_exposure, as: :range,
                input_html:{
                   data: { slider_target: "sunSlider", action: "input->slider#sunSliderMethod" },
                   min:"0", max:"10"},
                label_html: {data: { slider_target: "sunLabel"}, class: "sunshine-slider"}%>
      </div>
      <div class="day-slider">
        <%= f.input :prefered_day, collection: [ "Monday", "Tueday", "Wednesday", "Thurday", "Friday", "Saturday", "Sunday" ] %>
      </div>
    </div>
    <a class="next-button">
      <%= f.submit :Finish, class: "btn btn-secondary standard-button" %>
    </a>
  <% end %>
</div>


<%#
<script>
// function updateTextInput(val) {
//           document.getElementById('user_temperature').value=val;
//         }
// </script>
// <script>
// function updateTextInput(val) {
//           document.getElementById('textInput2').value=val;
//         }

</script> %>
