<div class="row" style="position:relative">
  <% @plants.each do |plant| %>
    <div class="col-4" data-controller='extended-card'>
      <div data-action='click->extended-card#revealCard'>
        <li style ="background-image: url(<%= cl_image_path plant.photos.first.key %>)" data-extended-card-target='card'>
          <p class="card-text"><%= plant.name %></p>
        </li>
      </div>
      <div class="d-none" data-extended-card-target='extendCard' >
        <%= cl_image_tag plant.photos.first.key %>
        <div class="extended-card-form">
          <p class="card-text"><%= plant.name %></p>
          <p><%= plant.description %></p>
          <%= simple_form_for @user_plant do |f| %>
            <%= f.input :nickname, input_html: { value: plant.name } %>
            <%= f.input :plant_age,  collection: UserPlant.plant_ages.keys, as: :radio_buttons %>
            <%= f.input :plant_health, collection: UserPlant.plant_healths.keys, as: :radio_buttons %>
            <%= hidden_field_tag 'plant_id', plant.id %>
            <%= f.submit %>
          <% end %>
          <button type="button" class="btn btn-outline-primary" data-action='click->extended-card#hideCard'>Close</button>
        </div>
        <br>
      </div>
    </div>
  <% end %>
</div>
