<!-- Card trigger modal -->
<div class="container h1-container">
  <h1>Your plants</h1>
</div>
<% if current_user.user_plants.empty? %>
  <div class="no-plants">
    <p>Oh it seems that you don’t have any plants for now...<br><br>Let’s add one below!</p>
  </div>
  <ul class="container plants-list">
    <div class="row">
      <div class="col-4">
        <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <div class="plus-sign">+</div>
          <div class="add-plant-text">Add a plant</div>
        </li>
      </div>
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
          <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
          <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
          <li class="cardholder greyed-out-card"></li>
      </div>
    </div>
  </ul>
<% elsif current_user.user_plants.count == 1 %>
<ul class="container plants-list">
  <div class="row">
    <% @user_plants.each do |user_plant| %>
      <div class="col-4">
        <li style="background-image: url(<%= cl_image_path user_plant.plant.photos.first.key %>)">
          <p class="card-text"><%= user_plant.nickname %></p>
        </li>
      </div>
    <% end %>
    <div class="col-4">
      <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="plus-sign">+</div>
        <div class="add-plant-text">Add a plant</div>
      </li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
  </div>
</ul>
<% elsif current_user.user_plants.count == 2 %>
  <ul class="container plants-list">
    <div class="row">
      <% @user_plants.each do |user_plant| %>
        <div class="col-4">
          <li style="background-image: url(<%= cl_image_path user_plant.plant.photos.first.key %>)">
            <p class="card-text"><%= user_plant.nickname %></p>
          </li>
        </div>
      <% end %>
      <div class="col-4">
        <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <div class="plus-sign">+</div>
          <div class="add-plant-text">Add a plant</div>
        </li>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
    </div>
  </ul>
<% else %>
  <ul class="container plants-list">
    <div class="row">
      <% @user_plants.each do |user_plant| %>
        <div class="col-4">
          <li style="background-image: url(<%= cl_image_path user_plant.plant.photos.first.key %>)">
            <p class="card-text"><%= user_plant.nickname %></p>
          </li>
        </div>
      <% end %>
      <div class="col-4">
        <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <div class="plus-sign">+</div>
          <div class="add-plant-text">Add a plant</div>
        </li>
      </div>
    </div>
  </ul>
<% end %>

<% if current_user.onboarded == false && current_user.user_plants.count >= 1 %>
  <div class="next-button">
    <a href="/add_info" class="btn btn-primary standard-button">Next</a>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade"  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content" data-controller="plant-card">
      <div class="modal-header">
        <button type="button" class="btn-close button-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="search-form-container">
          <form novalidate="novalidate" data-plant-card-target="form" class="simple_form search search-input-container" action="<%= plants_path %>" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="search-form-control form-group search-input-container">
              <input class="form-control string required search-input" type="text" name="search[query]" id="search_query" data-action="keyup->plant-card#search" data-plant-card-target="searchBar" placeholder="Find your plant..." />
            </div>
          </form>
        </div>
        <ul class="container plants-list" data-plant-card-target="content">
          <div><%= render "plants/list", class: "plants-list", locals: { plants: @plants } %></div>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="submit" id="add-plant-button" class="btn btn-primary standard-button" data-action='click->plant-card#submitCreateUserPlantForm'>Add my plant</button>
      </div>
    </div>
  </div>
</div>
<script>
  const modalBody = document.getElementById("modal-body")
  const cards = Array.from(document.getElementsByClassName("tester"))
  cards.forEach(element => {
    element.addEventListener("click", ()=> {
      modalBody.style.overflowY="hidden"
      modalBody.scrollTop=0
    })
  });
  const closeButtons = Array.from(document.getElementsByClassName("card-close-button"))
  closeButtons.forEach(element => {
    element.addEventListener("click", ()=> {
      modalBody.style.overflowY="auto"
    })
  });
  const addPlantButton = document.getElementById("add-plant-button")

  const age = document.getElementsByClassName('user_plant_plant_age')
  const ageArray = Array.from(age)
  ageArray.forEach(plantForm => {
    plantForm.children[2].children[0].checked = true
})
  const health = Array.from(document.getElementsByClassName("user_plant_plant_health"))
  const healthArray = Array.from(health)
  healthArray.forEach(plantForm => {
    plantForm.children[2].children[0].checked = true
})

  console.log(ageInput);
  // console.log(health);

</script>
