<!-- Card trigger modal -->
<% if current_user.user_plants.empty? %>
  <div class="no-plants">
    <p>Oh it seems that you don’t have any plants for now... Let’s add one below!</p>
  </div>
  <ul class="container plants-list">
    <div class="row">
      <div class="col-4">
        <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <div class="plus-sign">+</div>
          <div class="add-plant-text">Add a plant</div>
        </li>
      </div>
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
        <li class="cardholder greyed-out-card"></li>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
          <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
          <li class="cardholder greyed-out-card"></li>
      </div>
      <div class="col-4">
          <li class="cardholder greyed-out-card"></li>
      </div>
    </div>
  </ul>
<% elsif current_user.user_plants.count == 1 %>
<ul class="container plants-list">
  <div class="row">
    <% @user_plants.each do |user_plant| %>
      <div class="col-4">
        <li style="background-image: url(<%= cl_image_path user_plant.plant.photos.first.key %>)">
          <p class="card-text"><%= user_plant.nickname %></p>
        </li>
      </div>
    <% end %>
    <div class="col-4">
      <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="plus-sign">+</div>
        <div class="add-plant-text">Add a plant</div>
      </li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
  </div>
</ul>
<% elsif current_user.user_plants.count == 2 %>
<ul class="container plants-list">
  <div class="row">
    <% @user_plants.each do |user_plant| %>
      <div class="col-4">
        <li style="background-image: url(<%= cl_image_path user_plant.plant.photos.first.key %>)">
          <p class="card-text"><%= user_plant.nickname %></p>
        </li>
      </div>
    <% end %>
    <div class="col-4">
      <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="plus-sign">+</div>
        <div class="add-plant-text">Add a plant</div>
      </li>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
    <div class="col-4">
      <li class="cardholder greyed-out-card"></li>
    </div>
  </div>
</ul>
<% else %>
<ul class="container plants-list">
  <div class="row">
    <% @user_plants.each do |user_plant| %>
      <div class="col-4">
        <li style="background-image: url(<%= cl_image_path user_plant.plant.photos.first.key %>)">
          <p class="card-text"><%= user_plant.nickname %></p>
        </li>
      </div>
    <% end %>
    <div class="col-4">
      <li class="add-plant-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="plus-sign">+</div>
        <div class="add-plant-text">Add a plant</div>
      </li>
    </div>
  </div>
</ul>
<% end %>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Choose your plant!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="plant-card">

        <form novalidate="novalidate" data-plant-card-target="form" class="simple_form search" action="<%= plants_path %>" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" data-action="keyup->plant-card#search" data-plant-card-target="searchBar" />
          </div>
        </form>

        <div class="container">
          <div class="row justify-content-center">
            <ul class="plants-list" data-plant-card-target="content">
              <%= render "plants/list", locals: { plants: @plants } %>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary">Add my plant</button>
      </div>
    </div>
  </div>
</div>
